<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Mentor Home</title>
<style>
<%- include('../header.css'); -%>
</style>
  </head>
  <body>
     <%- include('../header'); -%>

    <h1>Hello Mentor!</h1>
    <img src="<%= profileURL %>" alt="Profile Img" width="50px"></img>
    <h4 id='welcomeMessage'>Welcome, <%= firstName + ' ' + lastName %></h4>
    <p>You are in grade <%= grade %>, go to <%= school %>  and live in the state <%= state %></p>
    <button onclick="window.location.href='/'">Main</button>
    <button onclick="window.location.href='/logout'">Log out</button>

  </body>
</html>
