<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Peer2Peer Signup as Student</title>
        <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">-->
    </head>
    <body>

        <h1>Sign up</h1>
        <p>This is a form to sign up as a student. Some fields have been autofilled based on your Google Account.</p>
        <% for (const e of errors) { %>
            <p>There was an error in the <%= e %> field!</p>
        <% } %>
        <form action='/signup/student' method='post'>
            <label for='firstName'>First Name: </label>
            <input name='firstName' type='text' value='<%= values.firstName %>' required>
            <br>
            <label for='lastName'>Last Name: </label>
            <input name='lastName' type='text' value='<%= values.lastName %>' required>
            <br>
            <label for='email'>Email: </label>
            <input name='email' type='email' value='<%= values.email %>' required>
            <br>
            <label for='grade'>Grade</label>
            <select name='grade' value='1'>
                <% for (let i = 1; i <= 12; i++) { %>
                <option value='<%= i %>'><%= i %></option>
                <% } %>
            </select>
            <br>
            <label for='state'>State: </label>
            <input name='state' maxlength='2' type='text' value='<%= values.state || ""%>'required>
            <br>
            <label for='school'>School: </label>
            <input name='school' type='text' value='<%= values.school || "" %>' required>
            <br>
            <label for='phone'>Phone Number: </label>
            <input name='phone' type='text' value='<%= values.phone || "" %>' required>

            <br>
            <br>
            <input type='submit' value='Submit'>
        </form>
    </body>
</html>
