<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Peer2Peer Student Home</title>
<style>
<%- include('../header.css'); -%>
.session {
    background-color: #E0E0E0;
    padding: 5px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
</style>
  </head>
  <body>
      <%- include('../header'); -%>

    <h1>Hello Student!!!</h1>
    <img src="<%= profileURL %>" alt="Profile Img" width="50px"></img>
    <h4 id='welcomeMessage'>Welcome, <%= firstName + ' ' + lastName %></h4>
    <p>You are in grade <%= grade %>, go to <%= school %>  and live in the state <%= state %></p>
    <button onclick="window.location.href='/student/requests'">Request a session</button>
    <button onclick="window.location.href='/'">Main</button>
    <button onclick="window.location.href='/logout'">Log out</button>

    <% function showSession(session, showCancel) { %>
        <div class="session">
            <p>Mentor: <%=session.mentor%></p>
            <p>PeerLeader: <%=session.peerLeader%></p>
            <p>Subject: <%=session.subject%></p>
            <p class='datetime'><%=session.dateTime%></p>
            <p>Length: <%=session.length%> minutes</p>
            <% if (showCancel) { %>
                <form action='/student/cancel/<%=session.id%>' method='POST'>
                    <input type='submit' value='Cancel Session'>
                </form>
            <% } %>
        </div>
    <% } %>

    <% if (sessions.upcoming.length > 0) { %>
        <h2>Upcoming Sessions</h2> 
        <% for (const session of sessions.upcoming) showSession(session, true) %> 
    <% } %>
    <% if (sessions.past.length > 0) { %>
        <h2>Past Sessions</h2> 
        <% for (const session of sessions.past) showSession(session) %> 
    <% } %>
    <% if (sessions.cancelled.length > 0) { %>
        <h2>Cancelled Sessions</h2> 
        <% for (const session of sessions.cancelled) showSession(session) %> 
    <% } %>
    <script>
    const datetimes = document.getElementsByClassName('datetime');
    for (const element of datetimes) {
        element.innerText = 'Date/Time: ' + new Date(parseInt(element.innerText)).toLocaleString();
    }
    </script>
  </body>
</html>
