<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Peer2Peer Student Home</title>
<style>
<%- include('../whole-website.css'); -%>
.session {
    background-color: #E0E0E0;
    padding: 5px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
</style>
  </head>
  <body>
      <%- include('../header'); -%>

    <h1 style="align-self: center">Student Home Page</h1>
    <img style = "align-self: center" src="<%= profileURL %>" alt="Profile Img" width="50px"></img>
    <br><button style = "width: 100px; align-self: center" class="btn btn-outline-primary" href="/account">My
          Account</button>
      <h4 style = "font-size:30px" id='welcomeMessage'>Welcome, <%= firstName + ' ' + lastName %></h4>
    <p>You are in grade <%= grade %>, go to <%= school %>  and live in the state <%= state %></p>

      <div class="btn-toolbar" style="align-self: center" role="group" aria-label="Basic example">

      <button style = "width: 150px; align-self: center" class="btn btn-outline-primary"
              onclick="window
      .location
    .href='/student/requests'">Request a
        session</button>
    <button style = "width: 100px; align-self: center" class="btn btn-outline-primary" onclick="window.location
    .href='/'">Main</button>
    <button style = "width: 100px; align-self: center" class="btn btn-outline-primary" onclick="window.location
    .href='/logout'">Log out</button>

      </div>

    <% function showSessionDetails(session) { %>
            <p>Mentor: <%=session.mentor.name %></p>
            <p>PeerLeader: <%=session.peerLeader.name %></p>
            <p>Subject: <%=session.subject%></p>
            <p class='datetime'><%=session.dateTime%></p>
            <p>Length: <%=session.length%> minutes</p>
            <% if (session.peerLeaderConfirm) { %>
                <p>Zoom link: <%= session.peerLeader.zoomLink %></p>
                <p>Zoom Pass: <%= session.peerLeader.zoomPass %></p>
            <% } %>
    <% } %>

    <% if (sessions.upcoming.length > 0) { %>
        <h2>Upcoming Sessions</h2>
        <% for (const session of sessions.upcoming) { %>
            <div class="session">
                <% showSessionDetails(session); %>
                <form action='/student/cancel/<%=session.id%>' method='POST'>
                    <input type='submit' value='Cancel Session'>
                </form>
            </div>
        <% } %>
    <% } %>
    <% if (sessions.past.length > 0) { %>
        <h2>Past Sessions</h2>
        <% for (const session of sessions.past) { %>
            <div class="session">
                <% showSessionDetails(session); %>
                <% if (!session.ratings.hasOwnProperty('studentToMentor') &&
                        !session.ratings.hasOwnProperty('studnetToSession')) { %>
                <form action='/student/rate/<%=session.id%>' method='POST'>
                    <label for='mentorRating'>Mentor rating: </label>
                    <select id='mentorRating' name='mentorRating'>
                        <option id='1'>1</option>
                        <option id='2'>2</option>
                        <option id='3'>3</option>
                        <option id='4'>4</option>
                        <option id='5' selected>5</option>
                    </select>
                    <br>
                    <label for='sessionRating'>Overall Session Rating: </label>
                    <select id='sessionRating' name='sessionRating'>
                        <option id='1'>1</option>
                        <option id='2'>2</option>
                        <option id='3'>3</option>
                        <option id='4'>4</option>
                        <option id='5' selected>5</option>
                    </select>
                    <input type='submit' value='Rate session'>
                </form>
                <% } else { %>
                    <p>Mentor Rating: <%=session.ratings.studentToMentor%></p>
                    <p>Overall Session Rating: <%=session.ratings.studentToSession%></p>
                <% } %>
            </div>
        <% } %>
    <% } %>
    <% if (sessions.cancelled.length > 0) { %>
        <h2>Cancelled Sessions</h2>
        <% for (const session of sessions.cancelled) { %>
            <div class="session">
                <% showSessionDetails(session); %>
            </div>
        <% } %>
    <% } %>
    <script>
    const datetimes = document.getElementsByClassName('datetime');
    for (const element of datetimes) {
        element.innerText = 'Date/Time: ' + new Date(parseInt(element.innerText)).toLocaleString();
    }
    </script>
  </body>
  <%- include('../footer.ejs'); -%>
</html>
