<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Peer2Peer Student Home</title>
<style>
<%- include('../header.css'); -%>
.session {
    background-color: #E0E0E0;
    padding: 5px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
</style>
  </head>
  <body>
      <%- include('../header'); -%>

    <h1>Hello Student!!!</h1>
    <img src="<%= profileURL %>" alt="Profile Img" width="50px"></img>
    <h4 id='welcomeMessage'>Welcome, <%= firstName + ' ' + lastName %></h4>
    <p>You are in grade <%= grade %>, go to <%= school %>  and live in the state <%= state %></p>
    <button onclick="window.location.href='/student/requests'">Request a session</button>
    <button onclick="window.location.href='/'">Main</button>
    <button onclick="window.location.href='/logout'">Log out</button>

    <% function showSessionDetails(session) { %>
            <p>Mentor: <%=session.mentor%></p>
            <p>PeerLeader: <%=session.peerLeader%></p>
            <p>Subject: <%=session.subject%></p>
            <p class='datetime'><%=session.dateTime%></p>
            <p>Length: <%=session.length%> minutes</p>
    <% } %>

    <% if (sessions.upcoming.length > 0) { %>
        <h2>Upcoming Sessions</h2> 
        <% for (const session of sessions.upcoming) { %>
            <div class="session">
                <% showSessionDetails(session); %> 
                <form action='/student/cancel/<%=session.id%>' method='POST'>
                    <input type='submit' value='Cancel Session'>
                </form>
            </div>
        <% } %>
    <% } %>
    <% if (sessions.past.length > 0) { %>
        <h2>Past Sessions</h2> 
        <% for (const session of sessions.past) { %>
            <div class="session">
                <% showSessionDetails(session); %> 
                <% if (session.studentToMentorRating == -1 && session.studentToSessionRating == -1) { %>
                <form action='/student/rate/<%=session.id%>' method='POST'>
                    <label for='mentorRating'>Mentor rating: </label>
                    <select id='mentorRating' name='mentorRating'>
                        <option id='1'>1</option>
                        <option id='2'>2</option>
                        <option id='3'>3</option>
                        <option id='4'>4</option>
                        <option id='5' selected>5</option>
                    </select>
                    <br>
                    <label for='sessionRating'>Overall Session Rating: </label>
                    <select id='sessionRating' name='sessionRating'>
                        <option id='1'>1</option>
                        <option id='2'>2</option>
                        <option id='3'>3</option>
                        <option id='4'>4</option>
                        <option id='5' selected>5</option>
                    </select>
                    <input type='submit' value='Rate session'>
                </form>
                <% } else { %>
                    <p>Mentor Rating: <%=session.studentToMentorRating%></p>
                    <p>Overall Session Rating: <%=session.studentToSessionRating%></p>
                <% } %>
            </div>
        <% } %>
    <% } %>
    <% if (sessions.cancelled.length > 0) { %>
        <h2>Cancelled Sessions</h2> 
        <% for (const session of sessions.cancelled) { %>
            <div class="session">
                <% showSessionDetails(session); %> 
            </div>
        <% } %>
    <% } %>
    <script>
    const datetimes = document.getElementsByClassName('datetime');
    for (const element of datetimes) {
        element.innerText = 'Date/Time: ' + new Date(parseInt(element.innerText)).toLocaleString();
    }
    </script>
  </body>
</html>
