<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Peer2Peer Request a Session</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<style>
<%- include('../whole-website.css'); -%>
.err {
    display: inline;
    color: red;
}
</style>
    </head>
    <body>
        <%- include('../header'); -%>

        <h1>Request Session</h1>

        <form id='requestForm' action='/student/requests' method='post'>
            <% if (errors.includes('noneFound')) { %>
                <p class="err">No mentors or Peer Leaders are available for that time/subject. Please choose another date/time.</p>
                <br>
            <% } %>
            <label for='datetime'>Please choose a date and time for the session in the format MM/DD/YYYY HH:MM AM/PM</label>
            <p id='timezone'>Please enter the date in the - timezone</p>
            <div style='display: inline'>
                <div class='input-group date' id='datetimeWrapper' style='width:220px'>
                    <input name='datetime' id='datetime' type='text' pattern='\d{1,2}\/\d{1,2}\/\d{4} \d{1,2}:\d{1,2} [AP]M' required class='form-control'/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <% if (errors.includes('tooEarly')) { %>
                <p class="err">Please choose a date/time in the future.</p>
            <% } %>
            <% if (errors.includes('datetime') || errors.includes('datetimeMS')) { %>
                <p class="err">Please specify a date and time in the format MM/DD/YYYY HH:MM AM/PM</p>
            <% } %>
            <input type='hidden' name='datetimeMS' id='datetimeMS' value=''>

            <br>
            <label for='length'>Length of Session: </label>
            <select name='length'>
                <option value='30' <%= values.length == '30' ? 'selected' : ''%>
                        >30 minutes</option>
                <option value='45' <%= values.length == '45' ? 'selected' : ''%>
                    >45 minutes</option>
                <option value='60' <%= values.length == '60' ? 'selected' : ''%>
                    >1 hour</option>
            </select>
            <% if (errors.includes('length')) { %>
                <p class="err">Please specify a length of 30 minutes, 45 minutes, or 60 minutes</p>
            <% } %>

            <br>

            <label for='subject'>Subject: </label>
            <select name='subject' required>
                <% for (const subject of subjects) { %>
                <option value='<%=subject%>' <%= values.subject == subject ? 'selected' : ''%>
                    ><%=subject%></option>
                <% } %>
            </select>
            <% if (errors.includes('subject')) { %>
                <p class='err'>Please choose a subject</p>
            <% } %>
            <br>

            <br>
            <br>
            <input type='submit' id='submit' value='Submit'>
        </form>

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />

        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
        <script type="text/javascript">
            $(function () {
                let date = new Date();
                date.setHours(24);
                date.setMinutes(0);

                $('#datetimeWrapper').datetimepicker({
                    minDate: date, //Restricts the datepicker to only allow dates after the current time
                    sideBySide: true
                });
            });
            //I don't know how to use JQuery, so I'm just sticking with ugly, plain JS
            const timezone = document.getElementById('timezone')
            timezone.innerText = 'Please use the ' + Intl.DateTimeFormat().resolvedOptions().timeZone + ' time zone.';
            document.getElementById('requestForm').onsubmit = () => {
                document.getElementById('datetimeMS').value = new Date(document.getElementById('datetime').value).getTime();
                document.getElementById('submit').disabled = true;
            }

            setTimeout(() => { //This requires a delay to make sure it overrides JQuery
                document.getElementById('datetime').value = '<%= values.datetime %>';
            }, 15);
        </script>
    </body>
    <%- include('../footer.ejs'); -%>
</html>
