<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Mentor Home</title>
<style>
<%- include('../header-footer.css'); -%>
</style>
  </head>
  <body>
     <%- include('../header'); -%>
    <h1>Welcome, Peer Leader!</h1>
    <img src="<%= profileURL %>" alt="Profile Img" width="50px"></img>
    <h4 id='welcomeMessage'>Welcome, <%= firstName + ' ' + lastName %></h4>
    <button onclick="window.location.href='/'">Main</button>
    <button onclick="window.location.href='/peerleader/sessions'">View Sessions</button>
    <button onclick="window.location.href='/peerleader/users'">View Users</button>
    <button onclick="window.location.href='/logout'">Log out</button>

  </body>
  <%- include('../footer.ejs'); -%>
</html>
