<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Mentor Home</title>
<style>
<%- include('../header-footer.css'); -%>
.session {
    background-color: #E0E0E0;
    padding: 5px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
</style>
  </head>
  <body>
     <%- include('../header'); -%>
    <h1>Welcome, Peer Leader!</h1>
    <img src="<%= profileURL %>" alt="Profile Img" width="50px"></img>
    <h4 id='welcomeMessage'>Welcome, <%= firstName + ' ' + lastName %></h4>
    <p>You are in grade <%= grade %>, go to <%= school %>  and live in the state <%= state %></p>
    <button onclick="window.location.href='/'">Main</button>
    <button onclick="window.location.href='/logout'">Log out</button>

    <% function showSessionDetails(session) { %>
        <p>Student: <%=session.student.name%>, in grade <%=session.student.grade%></p>
        <p>Mentor: <%=session.mentor%></p>
        <p>Subject: <%=session.subject%></p>
        <p class='datetime'><%=session.dateTime%></p>
        <p>Length: <%=session.length%> minutes</p>
    <% } %>

    <% if (sessions.upcoming.length > 0) { %>
        <h2>Upcoming Sessions</h2>
        <% for (const session of sessions.upcoming) { %>
            <div class='session'>
                <% showSessionDetails(session) %>
                <% if (session.peerLeaderConfirm) { %>
                    <p>Session Confirmed!</p>
                    <form action='/peerleader/sessions/done/<%=session.id%>' method='POST'>
                        <input type='submit' value='Mark session as finished'>
                    </form>
                <% } else { %>
                    <form action='/peerleader/sessions/accept/<%=session.id%>' method='POST'>
                        <input type='submit' value='Accept Session'>
                    </form>
                    <form action='/peerleader/sessions/reject/<%=session.id%>' method='POST'>
                        <input type='submit' value='Reject Session'>
                    </form>
                <% } %>
            </div>
        <% } %>
    <% } %>
    <% if (sessions.past.length > 0) { %>
        <h2>Past Sessions</h2>
        <% for (const session of sessions.past) { %>
            <div class='session'>
                <% showSessionDetails(session) %>
                <% if (!session.ratings.hasOwnProperty('peerLeaderToMentor')) { %>
                    <form action='/peerleader/sessions/rate/<%=session.id%>' method='POST'>
                        <label for='mentorRating'>Mentor rating: </label>
                        <select id='mentorRating' name='mentorRating'>
                            <option id='1'>1</option>
                            <option id='2'>2</option>
                            <option id='3'>3</option>
                            <option id='4'>4</option>
                            <option id='5' selected>5</option>
                        </select>
                        <input type='submit' value='Rate session'>
                    </form>
                <% } else { %>
                    <p>Mentor Rating: <%=session.ratings.peerLeaderToMentor%></p>
                <% } %>
            </div>
        <% } %>
    <% } %>
    <% if (sessions.cancelled.length > 0) { %>
        <h2>Cancelled Sessions</h2>
        <% for (const session of sessions.cancelled) { %>
            <div class='session'>
                <% showSessionDetails(session) %>
            </div>
        <% } %>
    <% } %>
    <script>
    const datetimes = document.getElementsByClassName('datetime');
    for (const element of datetimes) {
        element.innerText = 'Date/Time: ' + new Date(parseInt(element.innerText)).toLocaleString();
    }
    </script>

  </body>
  <%- include('../footer.ejs'); -%>
</html>
